@import 'tailwindcss';

@theme {
  --breakpoint-3xl: 120rem;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* Hide Arrows From Input Number webkit fix */
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

/* Add Fade-In Animation */
@layer utilities {
  .fade-in {
    @apply opacity-0;
    animation: fadeIn 0.5s ease forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}
@layer utilities {
  .fade-out {
    animation: fadeOut 0.5s ease forwards;
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
}
